.intro.py-5.py-lg-9.position-relative.text-white
  .bg-overlay-primary
    = image_tag 'bg-slider8.jpg', class:"img-fluid img-cover"
  .intro-content.mt-5
    .container
      .row
        .col-md-12
          %h1.text-center
            Razón legal es un sitio de consultas juridícas 
          %p.lead.text-center
            Todos los ciudadanos y profesionales que necesiten conocer 
            cómo adelantar un trámite o hacer uso de algún servicio 
            relacionado con la Justicia Colombiana.
