.intro.py-5.py-lg-9.position-relative.text-white
  .bg-overlay-primary
    = image_tag 'bg-slider8.jpg', class:"img-fluid img-cover"
  .intro-content.mt-5
    .container
      .row
        .col-md-12
          %h1
            Razón Legal
          %p
            Robust is a premium theme built 
            with Bootstrap. The theme is fully
            customizable & can be used for any 
            type of application.
