body{
  font-family: 'Roboto', sans-serif;
  color: #323C5A;
}

.application{

}

.bg-overlay-primary:after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18,131,218,.85);
  z-index: 2;
}

.intro-content {
  z-index: 2;
  position: relative;
}

.img-cover{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


footer{
  padding: 16px;
  border-top: 1px solid #e2e2e2;
  background: #f7f7f7;
  color: #999;
}
