%footer
  .container.text-center
    .col-md-12
      %ul.list-inline
        %li
          Nosotros
        %li
          Prensa
        %li
          Terminos
        %li
          Pricacidad
        %li
          Contacto
    .text-mute
      Razón Legal - 2018
