%nav.bd-links.collapse
  .bd-toc-item
    = link_to 'Home', root_path, class: 'bd-toc-link'
  .bd-toc-item
    = link_to 'Últimas Preguntas', root_path, class: 'bd-toc-link'
  .bd-toc-item
    = link_to 'Categorias', root_path, class: 'bd-toc-link'
  .bd-toc-item
    = link_to 'Todas las Preguntas', root_path, class: 'bd-toc-link'

